<h2>الإعدادات</h2>
<hr />

<div uib-alert class="alert-success" ng-show="vm.dataSaved" close="vm.dataSaved = false">
    <i class="fa fa-info-circle"></i>
    تم حفظ الإعدادات بنجاح
</div>

<form>
    <div class="form-group">
        <label>بداية ترقيم اللجان</label>
        <input type="number" ng-model="vm.data.committeStartNumber" class="form-control" placeholder="بداية ترقيم اللجان" />
    </div>

    <div class="form-group">
        <label>العام الدراسى</label>
        <input type="text" ng-model="vm.data.currentSchoolYear" class="form-control" placeholder="العام الدراسى" />
    </div>

    <div class="form-group">
        <label>الدور</label>
        <input type="text" ng-model="vm.data.currentTerm" class="form-control" placeholder="الفصل الدراسى" />
    </div>
    <p>
        <button class="btn btn-primary btn-lg" ng-click="vm.save()">
            <i class="fa fa-save"></i>
            حفظ الإعدادات
        </button>
    </p>
</form>

