<form action="/" method="post" novalidate="novalidate" name="userForm">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">بيانات المستخدم</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <label>الإسم</label>
            <input type="text" readonly ng-model="vm.model.name" class="form-control" />

        </div>
        <div class="form-group">
            <label>اسم المستخدم</label>
            <input type="text" ng-disabled="vm.model.id" ng-model="vm.model.userName" class="form-control" />

        </div>
        <div class="form-group">
            <label>كلمة المرور الجديدة</label>
            <input type="password" ng-model="vm.model.password" class="form-control" required />
        </div>
        <div class="form-group">
            <label> تأكيد كلمة  المرور الجديدة</label>
            <input type="password" ng-model="vm.model.confirmPassword" class="form-control" ng-change="vm.confirmPasswordChanged()" required />
            <span class="text-danger" ng-show="!vm.passwordMatch">كلمة المرور لا تتطابق مع تأكيد كلمة المرور</span>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()" ng-disabled="userForm.$invalid || !vm.passwordMatch">  حفظ <i class="fa fa-save"></i></button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">إلغاء الأمر</button>
    </div>
</form>