
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ar-sa" style="direction: rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <style>

        @@font-face {
            font-family: "GE SS";
            src: url('/_assets/css/fonts/GE_SS_Two_Bold.otf');
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family:  'GE SS', tahoma;
            font-size: 15px;
            text-align: center;
        }
    </style>

    <title>Test</title>
</head>
<body>
    <div>
        رقم التليفون: 46546546546545
    </div>
</body>
</html>
