<h2 ng-show="vm.model.committee.id == 0">إنشاء لجنة جديدة</h2>
<h2 ng-show="vm.model.committee.id != 0">تعديل بيانات اللجنة رقم <span class="label label-default">{{vm.model.committee.number}}</span> </h2>
<hr />
<!--<div style="position:absolute; top: 30px; left: 30px; width: 300px; height: 300px; background-color: antiquewhite; overflow: auto; z-index: 10000; direction: ltr">
<h1>{{vm.model.committee.id}}</h1>

</div>-->


<uib-tabset active="active">
    <uib-tab index="0" heading="Static title">

        <uib-tab-heading>
            <i class="fa fa-home"></i> البيانات الرئيسية
        </uib-tab-heading>
        <form name="frm" novalidate>
            <div>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>القطاع</label>
                            <select class="form-control" ng-model="vm.model.selectedSector"
                                    ng-options="option.title for option in vm.model.sectors track by option.id">
                                <option value="">---أختر القطاع---</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>المحافظة</label>
                            <select class="form-control" ng-model="vm.model.selectedGov"
                                    ng-options="option.title for option in vm.model.selectedSector.governrates  track by option.id">
                                <option value="">---أختر المحافظة---</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>الإدارة التعليمية</label>
                            <select class="form-control" ng-model="vm.model.selectedLM" required
                                    ng-options="option.title for option in vm.model.selectedGov.learningManagements  track by option.id">
                                <option value="">---أختر الإدارة التعليمية---</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>اللجنة</label>
                            <input type="text" ng-model="vm.model.committee.name" required class="form-control" placeholder="اسم مقر اللجنة" />
                        </div>
                    </div>
                    <!--<div class="col-md-4">
                        <div class="form-group  has-feedback" ng-class="{ 'has-error': vm.numberValid == 1 , 'has-success': vm.numberValid == 2  }">
                            <label class="control-label">رقم اللجنة</label>
                            <input type="number" required  ng-model="vm.model.committee.number" ng-change="vm.numberChanged=true" ng-blur="vm.checkNumber()" class="form-control" placeholder="رقم اللجنة" />
                            <span style="padding-top: 12px;" class="fa form-control-feedback" ng-class="{ 'fa-remove': vm.numberValid == 1 , 'fa fa-check': vm.numberValid == 2, 'fa-spinner fa-spin': vm.validating  }"></span>
                        </div>
                    </div>-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>العنوان</label>
                            <input type="text" ng-model="vm.model.committee.address" class="form-control" placeholder="العنوان" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>التليفون</label>
                            <input type="text" ng-model="vm.model.committee.phone" class="form-control" placeholder="التليفون" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>عدد الطلبة</label>
                            <input type="text" ng-model="vm.model.committee.studentCount" class="form-control" placeholder="عدد الطلبة" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>السنة الدراسية</label>
                            <input type="text" ng-model="vm.model.committee.schoolYear" class="form-control" placeholder="السنة الدراسية" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>الدور</label>
                            <input type="text" ng-model="vm.model.committee.term" class="form-control" placeholder="الدور" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>نوع اللجنة</label>
                            <div style="margin: 10px 10px 0 0;">
                                <label ng-repeat="type in vm.model.committeeTypes" style="display: block">
                                    <input type="checkbox" ng-change="vm.updateCommitteType()" ng-model="type.selected" /> {{type.name}} 
                                </label>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>نوع التعليم</label>
                            <div style="margin: 10px 10px 0 0;">
                                <label ng-repeat="type in vm.model.learningTypes" style="display: block">
                                    <input type="checkbox" ng-change="vm.updateLearningType()" ng-model="type.selected" /> {{type.name}}
                                </label>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <hr />
            <p>
                <button class="btn btn-primary " ng-disabled="frm.$invalid" ng-click="vm.submit()">
                    <i class="fa fa-save fa-lg"></i>
                    حفظ البيانات
                </button>
                <button class="btn btn-primary " ng-show="vm.model.committee.id == 0" ng-disabled="frm.$invalid " ng-click="vm.submit(true)">
                    <i class="fa fa-save fa-lg"></i>
                    حفظ وإضافة لجنة جديدة
                </button>
            </p>
        </form>

    </uib-tab>
    <uib-tab index="1" disable="vm.model.committee.id === 0">

        <uib-tab-heading>
            <i class="glyphicon glyphicon-tent"></i>
            المعامل
        </uib-tab-heading>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">المعامل</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 pull-left">
                        <div class="form-group">
                            <label>المعمل</label>
                            <input type="text" class="form-control" ng-model="vm.model.labEditor.name" />
                        </div>
                        <div class="form-group">
                            <label>عدد الطلبة</label>
                            <input type="text" class="form-control" ng-model="vm.model.labEditor.studentCount" />
                        </div>
                        <div class="form-group">
                            <label>نوعية الطلبة</label>
                            <div>
                                <select ng-model="vm.model.labEditor.studentType" class="form-control">
                                    <option>منتظم</option>
                                    <option>قرار</option>
                                    <option>عمال</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>تاريخ الإمتحان</label>
                            <input type="text" class="form-control" ng-model="vm.model.labEditor.examDate" />
                        </div>
                        <!--<div class="form-group">
                            <label>تاريخ التقدير</label>
                            <input type="text" class="form-control" ng-model="vm.model.labEditor.evalDate" />
                        </div>-->
                        <p>
                            <button class="btn btn-primary" ng-click="vm.saveLab()">
                                <i class="fa fa-save"></i>
                                حفظ
                            </button>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <div class="alert alert-info" ng-hide="vm.model.committee.labs.length">
                            لا توجد اى معامل مسجلة
                        </div>
                        <table class="table" ng-show="vm.model.committee.labs.length">
                            <tr>
                                <th>المعمل</th>
                                <th>عدد الطلبة</th>
                                <th>نوع الطلبة</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="item in vm.model.committee.labs">
                                <td>{{item.title}}</td>
                                <td>{{item.studentCount}}</td>
                                <td>{{item.studentType}}</td>
                                <td class="actions">
                                    <button class="btn btn-default" ng-click="vm.editLab(item)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger" ng-click="vm.removeLab(item)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </uib-tab>

    <uib-tab index="2" disable="vm.model.committee.id === 0">

        <uib-tab-heading>
            <i class="fa fa-th-list"></i>
            الأقسام
        </uib-tab-heading>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">الأقسام</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 pull-left">
                        <div class="form-group">
                            <label>القسم</label>
                            <input type="text" class="form-control" ng-model="vm.model.divisionEditor.name" />
                        </div>
                        <div class="form-group">
                            <label>عدد الطلبة</label>
                            <input type="text" class="form-control" ng-model="vm.model.divisionEditor.studentCount" />
                        </div>
                        <div class="form-group">
                            <label>نوعية الطلبة</label>
                            <select ng-model="vm.model.divisionEditor.studentType" class="form-control">
                                <option>منتظم</option>
                                <option>قرار</option>
                                <option>عمال</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>تاريخ الإمتحان</label>
                            <input type="text" class="form-control" ng-model="vm.model.divisionEditor.examDate" />
                        </div>
                        <div class="form-group">
                            <label>تاريخ التقدير</label>
                            <input type="text" class="form-control" ng-model="vm.model.divisionEditor.evalDate" />
                        </div>
                        <div class="form-group">
                            <label>عدد الورش</label>
                            <input type="text" class="form-control" ng-model="vm.model.divisionEditor.workShopCount" />
                        </div>
                        <div class="form-group">
                            <label>سعة الورشة</label>
                            <input type="text" class="form-control" ng-model="vm.model.divisionEditor.workShopCapacity" />
                        </div>
                        <div class="form-group">
                            <label>عدد الدفعات</label>
                            <input type="text" class="form-control" ng-model="vm.model.divisionEditor.groupsCount" />
                        </div>

                        <p>
                            <button class="btn btn-primary" ng-click="vm.saveDivision()">
                                <i class="fa fa-save"></i>
                                حفظ
                            </button>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <div class="alert alert-info" ng-hide="vm.model.committee.divisions.length">
                            لا توجد اى أقسام مسجلة
                        </div>
                        <table class="table" ng-show="vm.model.committee.divisions.length">
                            <tr>
                                <th>القسم</th>
                                <th>عدد الطلبة</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="item in vm.model.committee.divisions">
                                <td>{{item.title}}</td>
                                <td>{{item.studentCount}}</td>
                                <td class="actions">
                                    <button class="btn btn-default" ng-click="vm.editDivision(item)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger" ng-click="vm.removeDivision(item)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </uib-tab>
</uib-tabset>





