<h3>
    أدخل رقم اللجنة ثم إضغط على الزر بحث
</h3>
<hr />
<div class="form-group">
    <div class="col-md-8">
        <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="رقم اللجنة" ng-model="vm.committeNumber" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2" style="padding: 0; border: none;">
                <button class="btn btn-success btn-lg" ng-click="vm.search()">
                    بحث
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>
