<h2>لجنة {{vm.model.committee.name }}</h2>
<hr />

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>القطاع</label>

                    <div>
                        {{vm.model.committee.learningManagement.governrate.sector.title}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>المحافظة</label>
                    <div>
                        {{vm.model.committee.learningManagement.governrate.title}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>الإدارة التعليمية</label>
                    <div>
                        {{vm.model.committee.learningManagement.title}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>اللجنة</label>
                    <div>
                        {{vm.model.committee.name}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>رقم اللجنة</label>
                    <div>
                        {{vm.model.committee.number}}
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>عدد الطلبة</label>
                    <div>
                        {{vm.model.committee.studentCount}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">رئيس اللجنة</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>الإسم</label>
                    <div>
                        {{vm.model.committee.chief.name}}
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>الوظيفة</label>
                    <div>
                        {{vm.model.committee.chief.job.title}}
                    </div>

                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>تاريخ الإستلام</label>
                    <div>
                        {{vm.model.committee.chief.startDate}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>تاريخ التسليم</label>
                    <div>
                        {{vm.model.committee.chief.endDate}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>مكان العمل الأساسى</label>
                    <div>
                        {{vm.model.committee.chief.workPlace.title}}
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>تاريخ تقدير الدرجات</label>
                    <div>
                        {{vm.model.committee.chief.evaluationDate}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">المراقب الأول</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>الإسم</label>
                    <div>
                        {{vm.model.committee.superInspector.name}}
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>الوظيفة</label>
                    <div>
                        {{vm.model.committee.superInspector.job.title}}
                    </div>

                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>تاريخ الإستلام</label>
                    <div>
                        {{vm.model.committee.superInspector.startDate}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>تاريخ التسليم</label>
                    <div>
                        {{vm.model.committee.superInspector.endDate}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>مكان العمل الأساسى</label>
                    <div>
                        {{vm.model.committee.superInspector.workPlace.title}}
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>تاريخ تقدير الدرجات</label>
                    <div>
                        {{vm.model.committee.superInspector.evaluationDate}}
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">طبيب اللجنة</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>الإسم</label>
                    <div>{{vm.model.committee.doctorName}}</div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>تاريخ العمل</label>
                    <div>{{vm.model.committee.doctorStartDate}}</div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">أعضاء اللجنة</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>مسلسل</th>
                <th>الإسم</th>
                <th>الوظيفة</th>
                <th>تاريخ الإستلام</th>
                <th>تاريخ التسليم</th>
            </tr>
            <tr ng-repeat="ex in vm.model.theoroticalMembers">
                <td>{{$index+1}}</td>
                <td>{{ex.name}}</td>
                <td>{{ex.job.title}}</td>
                <td>{{ex.startDate}}</td>
                <td>{{ex.endDate}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">أعضاء اللجنة (العملى)</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>مسلسل</th>
                <th>الإسم</th>
                <th>الوظيفة</th>
                <th>تاريخ الإستلام</th>
                <th>تاريخ التسليم</th>
            </tr>
            <tbody ng-repeat="lab in vm.model.labs">
                <tr style="background-color: #d3e7ed; font-size: larger">
                    <th colspan="5" class="text-center">{{lab.title}} (عدد الطلبة: {{lab.studentCount}} - الدفعات: 4+4)</th>
                </tr>
                <tr ng-repeat="m in lab.members">
                    <td>{{$index+1}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.job.title}}</td>
                    <td>{{m.startDate}}</td>
                    <td>{{m.endDate}}</td>
                </tr>

            </tbody>

            <tbody ng-repeat="div in vm.model.divisions">
                <tr style="background-color: #d3e7ed; font-size: larger">
                    <th colspan="5" class="text-center">{{div.title}} (عدد الطلبة: {{div.studentCount}} - الدفعات: 4+4)</th>
                </tr>
                <tr ng-repeat="m in div.members">
                    <td>{{$index+1}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.job.title}}</td>
                    <td>{{m.startDate}}</td>
                    <td>{{m.endDate}}</td>
                </tr>

            </tbody>

        </table>
    </div>
</div>


