@font-face {
  font-family: "GE SS";
  src: url('/_assets/css/fonts/GE_SS_Two_Bold.otf');
  font-weight: normal;
  font-style: normal;
}
body,
td {
  direction: rtl;
  font-family: 'GE SS', tahoma;
  font-size: 10px;
}
table.wrapper {
  width: 100%;
  border-collapse: collapse;
}
table.wrapper .table-head th {
  background-color: #ccc;
  border: solid 1px #000;
  padding: 5px 10px;
  text-align: center;
}
table.wrapper .table-head2 td {
  border: solid 1px #000;
}
table.wrapper table.header {
  width: 100%;
}
table.wrapper .name {
  width: 30%;
}
table.wrapper .exam-date {
  width: 20%;
}
table.wrapper tbody.list th {
  background-color: #ccc;
}
table.wrapper tbody.list td,
table.wrapper tbody.list th {
  border: solid 1px #000;
  padding: 3px;
}
table.wrapper tbody.list td label,
table.wrapper tbody.list th label {
  text-decoration: underline;
  font-weight: bold;
  display: block;
}
table.wrapper tbody.list td table.footer td,
table.wrapper tbody.list th table.footer td {
  border: none;
  width: 33%;
  vertical-align: top;
}
table.wrapper tr td {
  vertical-align: top;
  padding: 10px;
}
table.wrapper tr th {
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
}
table.inner {
  width: 100%;
}
table.inner tr td {
  padding: 2px;
}
.graybg {
  background-color: #ccc;
}
.width25 {
  width: 30%;
}
.width100 {
  width: 100%;
}
.page-breaker {
  page-break-after: always;
  break-after: always;
}
.txt-center {
  text-align: center;
}